@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --hero-color: #2f303a;
  --black-color: #000000;
  --hover-button-color: #188ce8;
  --portfolio-button-color: #f5f4fa;
  --card-border-color: #eeeeee;
  --social-icons: rgba(175, 177, 184, 1);
  --theme-footer-icon: rgba(255, 255, 255, 0.1);
  --logo-font: "Raleway", "Arial", "Helvetica", sans-serif;
  --main-font: "Roboto", "Arial", "Helvetica", sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background-color: var(--white-color);
  color: var(--title-color);
  font-family: var(--main-font);
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.list {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
ul,
ol,
p {
  margin: 0;
}

.logo {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.logostudio {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.logo-footer {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
}

.link-nav {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
}

.link-nav:hover,
.link-nav:focus,
.link-nav:active {
  color: var(--accent-color);
}

.link-nav.current {
  position: relative;
  color: var(--accent-color);
}

.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.icon-nav {
  fill: currentColor;
  margin-right: 10px;
}

.button {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  border: none;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--white-color);
  background-color: var(--hover-button-color);
}

.button-portfolio {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}

.button-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--portfolio-button-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
}

.button-item:hover,
.button-item:focus,
.button-item:active {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-button-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.title-modal-form {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.form {
  width: 528px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.form-box {
  position: relative;
  margin-bottom: 10px;
}

.form-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
  text-align: left;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 14px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-input:focus,
.form-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-input:focus ~ .icon-form {
  fill: var(--accent-color);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.policy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: var(--accent-color);
  background-image: url(../images/social.icons/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox:focus:not(:checked) + .checkbox-icon {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
}

.box-btn-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-modal-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-modal-btn:hover,
.form-modal-btn:focus {
  background-color: var(--hover-button-color);
}

.link-policy {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  cursor: pointer;
}

.form-footer-box {
  display: flex;
}

.title-b {
  display: block;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.btn-footer-input {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  color: var(--white-color);
}

.form-btn-footer {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-btn-footer:hover,
.form-btn-footer:focus,
.form-btn-footer:active {
  color: var(--white-color);
  background-color: var(--hover-button-color);
}

.icon-form-footer {
  fill: var(--white-color);
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons-item:not(:last-child) {
  margin-right: 10px;
}

.social-icons-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--social-icons);
}

.social-icons-link:hover,
.social-icons-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.social-icons-smm {
  width: 20px;
  height: 20px;
}

.footer-box .text {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-box {
  margin-right: 93px;
}

.social-icons-link.footer-icons {
  background-color: var(--theme-footer-icon);
  fill: var(--white-color);
}

.footer-icons:hover,
.footer-icons:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

.touch-transform {
  transition-property: color, fill, background-color, border, box-shadow, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: var(--cubic);
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.header-container,
.nav-header {
  display: flex;
  align-items: center;
}

.nav-list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-left: 93px;
  display: flex;
}

.nav-list-item:not(:last-child),
.contact-list-item:not(:last-child) {
  display: flex;
  margin-right: 50px;
}

.contact-nav {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  display: flex;
  margin-left: auto;
}

.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.title-hero {
  margin-bottom: 30px;
  margin-top: 0;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/Img-overlay.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.invisible {
  display: none;
}

.features-list {
  display: flex;
  margin-left: -30px;
}

.features-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
}

/* Псевдо элементы - иконки */
.features-item::before {
  display: block;
  content: "";
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--portfolio-button-color);
}

.icon-antenna::before {
  background-image: url(../images/index/antenna.svg);
  margin-bottom: 30px;
}

.icon-clock::before {
  background-image: url(../images/index/clock.svg);
  margin-bottom: 30px;
}

.icon-notebook::before {
  background-image: url(../images/index/notebook.svg);
  margin-bottom: 30px;
}

.icon-astro::before {
  background-image: url(../images/index/astronaut.svg);
  margin-bottom: 30px;
}

.title-list {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.text-list {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Чем мы занимаемся */
.section.our-work {
  padding-top: 0;
}

.our-work-list {
  display: flex;
  justify-content: space-between;
}

.our-work-item {
  position: relative;
  z-index: -1;
}

.title-bg-work {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  padding-top: 27px;
}

.bg-our-work {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.section.our-team {
  background-color: var(--portfolio-button-color);
}

.our-team-list {
  display: flex;
  text-align: center;
  margin-left: -30px;
}

.our-team-list > .team-item {
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.card-team {
  padding: 30px;
}

.title-our-team {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.text-our-team {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

/* Секция Постоянные клиенты */
.clients-list {
  display: flex;
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--social-icons);
  border-radius: 4px;
  border: 1px solid var(--social-icons);
}

.icon-clients {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.card-box {
  display: flex;
}

.card-set {
  display: flex;
  flex-flow: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.card-set > .card-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.content-card-item {
  padding: 20px 24px;
  border-bottom: 1px solid var(--card-border-color);
  border-right: 1px solid var(--card-border-color);
  border-left: 1px solid var(--card-border-color);
}

.title-portfolio {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.text-portfolio {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-portfolio {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio .text-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
}

.text-overlay {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 24px;
}

.portfolio-link:hover .text-overlay,
.portfolio-link:focus .text-overlay {
  transform: translateY(0);
  opacity: 1;
}

.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  width: 231px;
  margin-right: 70px;
}

.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 9px;
}

.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.link-nav-footer:hover,
.link-nav-footer:focus,
.link-nav-footer:active {
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */