.footer {
  background-color: var(--hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  width: 231px;
  margin-right: 70px;
}
.address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 9px;
}

.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.link-nav-footer:hover,
.link-nav-footer:focus,
.link-nav-footer:active {
  color: var(--accent-color);
}
